{% extends 'base.html.twig' %}

{% block title %}Wildcircus{% endblock %}

{% block body %}
    <div class="global_box">
    <h1>Welcome in Wildcircus</h1>
    <img src="http://placekitten.com/400/400" class="home_img" alt="image_wildcircus">
    <p class="home_intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin molestie dolor et laoreet faucibus. Sed hendrerit enim porttitor justo iaculis dictum. 
        Nulla facilisi. Cras eleifend metus sed eros lobortis, in hendrerit nibh pulvinar. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
    </div>
{% endblock %}
