/* GENERAL style*/
body{
    background-color: black;
    text-align: center;
    color: blue;
}

.table{
    color: blue;
}

/* DESKTOP style*/
@media screen and (min-width:769px){
    .box_artist{
        display: flex;
    }

    .artist{
        margin: 2rem;
    }
}
