{% extends 'base.html.twig' %}

{% block title %}New Expose{% endblock %}

{% block body %}
    <h1>Create new Expose</h1>

    {{ include('expose/_form.html.twig') }}

    <a href="{{ path('expose_index') }}">back to list</a>
{% endblock %}
